<div *ngIf="user">
	<form [ngFormModel]="userForm" (ngSubmit)="onSubmit()" novalidate>
		<field [errors]="userForm.controls.email.errors">
			<label>Email</label>
			<input ngControl="email" class="form-control">
		</field>
		<field [errors]="userForm.controls.password.errors">
			<label>password</label>
			<input ngControl="password" class="form-control">
		</field>
		<button type="submit" class="btn btn-default" [disabled]="!userForm.valid">
			Update User
		</button>
	</form>
	<pre>{{user | json}}</pre>
</div>